@page
@model DevLiftNew.Pages.WelcomPage.WelcomePageProgammierenModel
@{
    ViewData["Title"] = "Willkommen";
}
<div class="container mt-5">
<div class="row">
        
<div class="col-md-3 mb-4">
    <div class="card shadow-sm h-100">
        <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title">Progammieren Multiple Choice</h5>
            <p class="card-text" align="center">Multiple Choice</p>
            <div class="mt-auto text-center">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="/" class="btn btn-dark">Starten</a>
                }
                else
                {
                    <a asp-page="/" class="btn btn-dark">Login</a>
                }
            </div>
        </div>
    </div>
</div>
        
        
<div class="col-md-3 mb-4">
    <div class="card shadow-sm h-100">
        <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title">Progammieren IHK </h5>
            <p class="card-text">C# & .NET</p>
            <div class="mt-auto text-center">
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-page="/IHKQuiz/Frage1" class="btn btn-dark">Starten</a>
                }
                else
                {
                    <a asp-page="/Account/Login" class="btn btn-dark">Login</a>
                }
            </div>
        </div>
    </div>
</div>
</div>
</div>
