@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DevLift</h1>
</div>

<div class="containerWelcome mt-10">
    <div class="row">
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" align="center">Quiz: Netzwerke</h5>
                    <p class="card-text">Multiple Choise</p>
                    <div class="text-center">
                        <a asp-page="/Quiz" class="btn btn-dark" >Starten</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title" align="center">Quiz: Netzwerke</h5>
                    <p class="card-text">Multiple Choise</p>
                    <div class="text-center">
                        <a asp-page="/Quiz" class="btn btn-dark" >Starten</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>